# PostgreSQL Configuration (Prisma)
# For Prisma Demo: postgres://...@db.prisma.io:5432/postgres?sslmode=require
# For Neon/Supabase: postgresql://user:password@host:5432/db?schema=public
# For Prisma Accelerate: prisma+postgres://...
DATABASE_URL=postgres://9c3a664d1e5a9d6582d76e0aed37ba1ed47ee78089eeb2884225d4c18c81dc76:sk_4D_42Rf_tpWyzCLT-BNEP@db.prisma.io:5432/postgres?sslmode=require


# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

# Server Configuration
PORT=5000
NODE_ENV=development
